body{
    font-family: Arial,sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #425068;
}
.logo{
 color: #fff;
font-size: 28px;
    line-height: 60px;
    padding-left:  300px;
    float: left;
}
.menu{
    float: left;
    padding-left: 350px;
    }

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
 text-transform: uppercase;
    
}
.mine{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png)90% 100%/auto 85% no-repeat, url(../img/bg.jpg)center/cover no-repeat;
}
.title__container{
    float: left;
    margin:  350px 0px 0px 260px;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 60px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
    
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin-top: 50px 14px 0px 14px;
}

/*заголовки h2*/
.box h2{
     padding: 70px 400px 10px 400px;
    text-align: center;
}
/*ПОЛОСКА*/
.line{
    margin: 10px 0px 30px 724px;
   
}
/*ФОТО ИКОНКА*/
.fotka{
    margin: 40px 0px 15px -60px;
}
/* ТЕКСТ ОБО МНЕ   */
.box p{
    padding: 0px 400px 10px 400px;
   
    text-align: center;
}
/*СКАЧАТЬ РЕЗЮМЕ*/
.click{
 height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.png)no-repeat left;
  margin: 15px 650px 20px 650px ;
    line-height: 30px;
}            
.promo{
    background: url(../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg);

    height: 520px;
}
.icon{
      display: flex;
    padding: 150px 0px 50px 150px;
    text-align: center;
        margin-top:  40px
            margin-top: 20px;
    margin-bottom: 20px;
}
.comp{
    margin-right: 160px;
}
.ramca{
    margin-right: 160px; 
}
.rocet{
     margin-right: 160px;
}
.mafon{
     margin-left: 160px;
}
.web{
color: #cf7600;
}
.razrab{
  color: #cf7600;
}
.ceo{
  color: #cf7600;  
}
.market{
color: #cf7600;
}
.case h5{
 text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
}
.case1{
    margin: 0px 0px 0px 300px;
   float: left;
}
.client{
    margin-bottom: 5px;
}
.kompany{
    margin-bottom:5px;
}
.website{
    margin-bottom: 5px;
}
.sate{
    margin-bottom: 5px;
}
.knopka{
    text-align: center;
    border-radius: 5px;
    background: #63b5ae;
    width: 150px;
    height: 40px;
    line-height: 40px;
}
.case2{
    
    margin-left: 40px;
}
.title{
    margin-bottom: 5px;
}
.title__sale{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}
.punkt{
    margin-left: 380px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 60px;
}
.punkt h3{
    margin-bottom: 8px;
    margin-top: 8px;
}
.sel{
    border-radius: 1px;
    margin: 5px 350px 5px 0px;
    background: #eeeeee;
}
.sel2{
      border-radius: 1px;
    margin: 5px 350px 5px 0px;
    background: #eeeeee;
}
.sel3{
    border-radius: 1px;
    margin: 5px 350px 5px 0px;
    background: #eeeeee;
}
.stat{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 60px;
}
.fonnumber{
    background: url(../img/%D1%84%D0%BE%D0%BD%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.jpg);
    height: 499px;
}
.iconstat{
    text-align: center;
    margin-top: 250px;
    display: flex;
}
.smile{
    margin-left: 300px
}
.skob{
    margin-left: 230px;
}
.ok{
   margin-left: 230px; 
}
.kub{
    margin-left: 230px; 
}
.number{
    display: flex;
    margin-top: 15px;
}

.num1{
    margin-left: 310px
}
.num2{
    margin-left: 265px;
}
.num3{
    margin-left: 260px;
}
.num4{
    margin-left: 270px;
}  
.title__number{
    display: flex;
    margin-top: 20px;
    margin-bottom: 100px;
    margin: 10px 0px 10px 230px;
}
.sk{
      margin-right: 160px;
}
.chrb{
    margin-right: 150px;
}
.px{
    margin-right:160px;
}
.np{
    margin-left: 140px;
}
.fotootz{
    text-align: center;
    margin-bottom: 15px;
}
.otziv{
    text-align: center;
    margin-bottom: 25px;
}
.dir{
    text-align: center;
}
.kon{
    text-align: center;
}
.contakt{
    background: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg);
    color: #fff;
    margin-top: 60px;
}





.iconbottom{
    display: flex;
    margin-top:  40px;
}
.geo{
    margin-right: 200px;
    margin-left: 530px;
}
.konvert{
    margin-right: 200px;
}
.trubka{
    margin-right: 200px;
}


.danie{
    display: flex;
    margin-top: 15px;
    margin-bottom: 115px;
}
.spb{
    margin-right: -30px;
    margin-left: 460px;
    text-align: center;
    font-size:10px;
}
.email{
    margin-left: 100px;
    font-size: 10px;
}
.nomer{
     margin-left: 130px;
    font-size: 10px;
}
.sms{
    margin-bottom: 20px;
    text-align: center
}
.adres{
    display: flex;
}
.name{
    margin: 10px 0px 10px 570px;
}
.mail{
    margin: 10px 0px 10px 40px;
}
.textpole{
    margin: 10px 0px 20px 570px;
}
.open{
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-size: 35px;
    background: none;
    line-height: 25px;
    margin: 10px 0px 40px 690px
}
.iconniz{
    display: flex;
    margin: 10px 0px 20px 590px;
}
.fb{
    margin-right: 30px;
}
.twit{
        margin-right: 40px;
}
.bol{
        margin-right: 40px;
}
.cat{
        margin-right: 40px;
}
.inst{
        margin-right: 40px;
}
.in{
        margin-right: 40px;
}
   
